@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'curse_casualregular';
    src: url('fonts/curse_casual-webfont.woff2') format('woff2'),
         url('fonts/curse_casual-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body, html {
  background-color: rgb(39,152,244);
  height: 100%;
  margin: 0;
  font-family: 'curse_casualregular';
  letter-spacing: 1.2px;	
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("images/island.png");

  /* Add the blur effect*/
  filter: blur(10px);
  -webkit-filter: blur(10px);

  /*Full height*/
  height: 100%;

  /*Center and scale the image nicely*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(39,152,244); /* Fallback color */
  background-color: rgba(39,152,244,0.50); /* Black w/opacity/see-through */
  color: #9FCB73;
  font-weight: bold;
  border: 2px dotted #000AD3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

a:link, a:visited {
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	
}

a:hover, a:active {
  background-color: #646464;
}

a.twitter:link {
	background-color: rgba(89,181,255,0.20);
}

a.instagram:link {
	background-color: rgba(89,181,255,0.20);
}

a.facebook:link {
	background-color: rgba(89,181,255,0.20);
}